@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  background     : linear-gradient(135deg, #71b7e6, #9b59b6);
}

a {
  text-decoration: none;
  color          : #000;
}

.text-start {
  text-align: start !important;
}

.cursor {
  cursor: initial !important;
}

.d-flex {
  display       : flex;
  flex-direction: column;
}

.mb {
  font-size    : large !important;
  margin-bottom: 20px !important;
  border       : none !important;
}